.location-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    font-size: .8125rem;
    color: #333645;
}

.location-cont {
    margin-top: 1rem;
    max-width: 1200px;
}


.bold a {
    font-weight: bold;
    color: #333645;
}

.bold a:hover {
    text-decoration: none;
}

.location-card{
    width:50%;
    border : 1px solid #CCC;  
    border-radius: 20px;

}

.location-card-content{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding:30px;
}

.location-card-img{
    width:100%;
    border-radius: 20px 20px 0px 0px;

}


.location-card-header{
    font-size: 1.25rem;
    font-weight: 400;
    color: #333645;
}

.location-card-text{
    font-size: .8125rem;
    line-height: 1.375rem;
    color: #333645;
    font-weight: 400;
}

.location-card-phone{
    font-weight:700;
    font-size:1.625rem;
    color: #926fb1 !important;
}

.btn-contact{
    color: #fff;
    background-color: #7e57a0;
    border-color: #735093;
    padding: .625em 1.25em;
    font-size: .9em;
    line-height: 35px;
    border-radius: 3px;
}

#cont-but:hover{
    text-decoration:none !important; ;
}