.location-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    font-size: .8125rem;
    color: #333645;
}

.location-cont {
    margin-top: 1rem;
    max-width: 1200px;
}

.location-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bold a {
    font-weight: bold;
    color: #333645;
}

.bold a:hover {
    text-decoration: none;
}

.location-card {
    width: 45%;
    border: 1px solid #CCC;
    border-radius: 20px;
    float: left;
    margin: 1rem;
}

@media only screen and (max-width: 991px) {
    .location-card {
        width: 100%;
        border: 1px solid #CCC;
        border-radius: 20px;
        float: left;
        margin: 1rem;
    }
}

.location-card-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.location-card-img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 250px;

}


.location-card-header {
    font-size: 1.25rem;
    font-weight: 400;
    color: #333645;
}

.location-card-text {
    font-size: .8125rem;
    line-height: 1.375rem;
    color: #333645;
    font-weight: 400;
}

.location-card-phone {
    font-weight: 700;
    font-size: 1.625rem;
    color: #926fb1 !important;
}

.btn-contact {
    color: #fff;
    background-color: #7e57a0;
    border-color: #735093;
    padding: .625em 1.25em;
    font-size: .9em;
    line-height: 35px;
    border-radius: 3px;
}

#cont-but:hover {
    text-decoration: none !important;

}

/* #google-maps-display {
    max-height: 200px;
} */

.contact-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
    grid-template-areas:
    "form email";

}

.contact-form-row{
    display: flex;
    flex-direction: row;
    
}

.form-space:before {content:"\00a0\00a0\00a0\00a0";}



@media only screen and (max-width: 991px) {
    .contact-form-container {
        display: flex;
        flex-direction: column;
    }
    .contact-form-row{
        flex-direction: column;
    }
    .form-space:before{display:none}
}

.contact-email-details{
    font-weight: 600;
    color: #333645;
    margin: 1rem;
    grid-area:email;
}

.contact-page-form {
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;
    margin: 1rem;
    grid-area: form;
}

.contact-page-email{
    font-weight: 600;
    color: #926fb1 !important;
    font-size: 1.625rem;
}

.contact-page-email:hover {
    text-decoration:underline;
    cursor: pointer;
}