.item-1 a {
  background-color: #67809F; }
.item-1:hover {
  background-color: #67809F;
  color: #fff; }
  .item-1:hover h2 {
    color: #fff; }
  .item-1:hover a {
    color: #67809F;
    background-color: #fff; }
  .item-1:hover i {
    color: #67809F;
    background-color: #fff; }

.nav-item-1 i {
  color: #67809F; }
.nav-item-1:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-1:hover i {
    color: #fff; }

.item-2 a {
  background-color: #4183D7; }
.item-2:hover {
  background-color: #4183D7;
  color: #fff; }
  .item-2:hover h2 {
    color: #fff; }
  .item-2:hover a {
    color: #4183D7;
    background-color: #fff; }
  .item-2:hover i {
    color: #4183D7;
    background-color: #fff; }

.nav-item-2 i {
  color: #4183D7; }
.nav-item-2:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-2:hover i {
    color: #fff; }

.item-3 a {
  background-color: #2ECC71; }
.item-3:hover {
  background-color: #2ECC71;
  color: #fff; }
  .item-3:hover h2 {
    color: #fff; }
  .item-3:hover a {
    color: #2ECC71;
    background-color: #fff; }
  .item-3:hover i {
    color: #2ECC71;
    background-color: #fff; }

.nav-item-3 i {
  color: #2ECC71; }
.nav-item-3:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-3:hover i {
    color: #fff; }

.item-4 a {
  background-color: #D64541; }
.item-4:hover {
  background-color: #D64541;
  color: #fff; }
  .item-4:hover h2 {
    color: #fff; }
  .item-4:hover a {
    color: #D64541;
    background-color: #fff; }
  .item-4:hover i {
    color: #D64541;
    background-color: #fff; }

.nav-item-4 i {
  color: #D64541; }
.nav-item-4:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-4:hover i {
    color: #fff; }

.item-5 a {
  background-color: #926FB1; }
.item-5:hover {
  background-color: #926FB1;
  color: #fff; }
  .item-5:hover h2 {
    color: #fff; }
  .item-5:hover a {
    color: #926FB1;
    background-color: #fff; }
  .item-5:hover i {
    color: #926FB1;
    background-color: #fff; }

.nav-item-5 i {
  color: #926FB1; }
.nav-item-5:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-5:hover i {
    color: #fff; }

.item-6 a {
  background-color: #F62459; }
.item-6:hover {
  background-color: #F62459;
  color: #fff; }
  .item-6:hover h2 {
    color: #fff; }
  .item-6:hover a {
    color: #F62459;
    background-color: #fff; }
  .item-6:hover i {
    color: #F62459;
    background-color: #fff; }

.nav-item-6 i {
  color: #F62459; }
.nav-item-6:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-6:hover i {
    color: #fff; }

.item-7 a {
  background-color: #CE4125; }
.item-7:hover {
  background-color: #CE4125;
  color: #fff; }
  .item-7:hover h2 {
    color: #fff; }
  .item-7:hover a {
    color: #CE4125;
    background-color: #fff; }
  .item-7:hover i {
    color: #CE4125;
    background-color: #fff; }

.nav-item-7 i {
  color: #CE4125; }
.nav-item-7:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-7:hover i {
    color: #fff; }

.button-1 {
  background-color: #67809F;
  text-decoration: none; }
  .button-1:hover {
    background-color: #fff;
    color: #67809F; }

.button-2 {
  background-color: #4183D7;
  text-decoration: none; }
  .button-2:hover {
    background-color: #fff;
    color: #4183D7; }

.button-3 {
  background-color: #2ECC71;
  text-decoration: none; }
  .button-3:hover {
    background-color: #fff;
    color: #2ECC71; }

.button-4 {
  background-color: #D64541;
  text-decoration: none; }
  .button-4:hover {
    background-color: #fff;
    color: #D64541; }

.button-5 {
  background-color: #926FB1;
  text-decoration: none; }
  .button-5:hover {
    background-color: #fff;
    color: #926FB1; }

.button-6 {
  background-color: #F62459;
  text-decoration: none; }
  .button-6:hover {
    background-color: #fff;
    color: #F62459; }

.button-7 {
  background-color: #CE4125;
  text-decoration: none; }
  .button-7:hover {
    background-color: #fff;
    color: #CE4125; }

.si-1:hover {
  background-color: #67809F; }
  .si-1:hover .button-1 {
    background-color: white;
    color: #67809F; }
  .si-1:hover .icon-1 {
    color: #67809F;
    background-color: #ffffff; }

.si-2:hover {
  background-color: #4183D7; }
  .si-2:hover .button-2 {
    background-color: white;
    color: #4183D7; }
  .si-2:hover .icon-2 {
    color: #4183D7;
    background-color: #ffffff; }

.si-3:hover {
  background-color: #2ECC71; }
  .si-3:hover .button-3 {
    background-color: white;
    color: #2ECC71; }
  .si-3:hover .icon-3 {
    color: #2ECC71;
    background-color: #ffffff; }

.si-4:hover {
  background-color: #D64541; }
  .si-4:hover .button-4 {
    background-color: white;
    color: #D64541; }
  .si-4:hover .icon-4 {
    color: #D64541;
    background-color: #ffffff; }

.si-5:hover {
  background-color: #926FB1; }
  .si-5:hover .button-5 {
    background-color: white;
    color: #926FB1; }
  .si-5:hover .icon-5 {
    color: #926FB1;
    background-color: #ffffff; }

.si-6:hover {
  background-color: #F62459; }
  .si-6:hover .button-6 {
    background-color: white;
    color: #F62459; }
  .si-6:hover .icon-6 {
    color: #F62459;
    background-color: #ffffff; }

.si-7:hover {
  background-color: #CE4125; }
  .si-7:hover .button-7 {
    background-color: white;
    color: #CE4125; }
  .si-7:hover .icon-7 {
    color: #CE4125;
    background-color: #ffffff; }

.icon-1 {
  background-color: #67809F; }
  .icon-1:hover {
    background-color: white;
    color: #67809F; }

.icon-2 {
  background-color: #4183D7; }
  .icon-2:hover {
    background-color: white;
    color: #4183D7; }

.icon-3 {
  background-color: #2ECC71; }
  .icon-3:hover {
    background-color: white;
    color: #2ECC71; }

.icon-4 {
  background-color: #D64541; }
  .icon-4:hover {
    background-color: white;
    color: #D64541; }

.icon-5 {
  background-color: #926FB1; }
  .icon-5:hover {
    background-color: white;
    color: #926FB1; }

.icon-6 {
  background-color: #F62459; }
  .icon-6:hover {
    background-color: white;
    color: #F62459; }

.icon-7 {
  background-color: #CE4125; }
  .icon-7:hover {
    background-color: white;
    color: #CE4125; }

.nav-item-1 {
  color: #67809F; }

.nav-item-2 {
  color: #4183D7; }

.nav-item-3 {
  color: #2ECC71; }

.nav-item-4 {
  color: #D64541; }

.nav-item-5 {
  color: #926FB1; }

.nav-item-6 {
  color: #F62459; }

.nav-item-7 {
  color: #CE4125; }

@media only screen and (min-width: 576px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; } }
@media only screen and (min-width: 705px) {
  .fi1,
  .fi2 {
    width: 34%; }

  .fi3,
  .fi4,
  .fi5 {
    width: 33%; }

  .main-footer {
    justify-content: space-evenly; } }
@media only screen and (min-width: 1259px) {
  .footer-item {
    display: flex;
    flex-wrap: wrap;
    width: auto; } }
@media only screen and (min-width: 1000px) {
  .sign-up-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 47px 0 43px; }

  .form-wrapper {
    display: flex;
    flex-direction: row; }

  .user_name,
  .user-email {
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 1259px) {
  .logo-list {
    height: auto;
    width: 100%;
    padding: 0; } }
@media only screen and (max-width: 767px) {
  .client-logo-area, #bar-heading-link {
    display: none; }

  .license {
    display: flex;
    flex-direction: column; } }
@media only screen and (max-width: 1200px) {
  .ni3 {
    display: none !important; }

  .ni1,
  .ni2 {
    width: calc(100/2); } }
@media only screen and (max-width: 767px) {
  .inside-news-container {
    display: flex;
    flex-wrap: wrap; }

  .news-image {
    max-width: 100%; }

  .ni3 {
    display: unset !important; } }
@media only screen and (min-width: 767px) {
  .si-1 {
    grid-area: service-1; }

  .si-2 {
    grid-area: service-2; }

  .si-3 {
    grid-area: service-3; }

  .si-4 {
    grid-area: service-4; }

  .si-5 {
    grid-area: service-5; }

  .si-6 {
    grid-area: service-6; }

  .si-7 {
    grid-area: service-7; }

  .auto-grid {
    display: grid;
    grid-template-areas: "service-1 service-1" "service-2 service-2" "service-3 service-3" "service-4 service-5" "service-6 service-7"; } }
@media only screen and (min-width: 992px) {
  .auto-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }

  .si-1,
  .si-2,
  .si-3 {
    flex: 1 1 333px; }

  .si-4,
  .si-5,
  .si-6,
  .si-7 {
    flex: 1 1 250px; }

  .col {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (max-width: 993px) {
  .banner-content {
    margin-left: 0 !important;
    align-items: center;
    text-align: center; }

  .banner-content .banner-headline {
    font-size: 2.5rem;
    line-height: 3rem; }

  .banner-content .banner-text {
    font-size: 1.25rem;
    line-height: 1.75rem; }

  .navigation {
    display: none; }

  .actions-container {
    display: none; } }
body {
  font-family: Poppins, sans-serif;
  letter-spacing: .4px; }

* {
  box-sizing: border-box; }

html {
  line-height: 1.1; }

h3 {
  margin: 0 0 .8em 0; }

.col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: auto; }

.col-3 {
  position: relative;
  min-height: 1px;
  padding-left: -15px;
  padding-right: -15px; }

.col-4 {
  width: calc(100/4);
  border: solid 1px #333645;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.logo-col {
  width: 33.33%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.actions-col {
  width: 45%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.container {
  margin-right: auto;
  margin-left: auto; }

footer {
  background-color: #333645; }

.main-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 47px 0 33px; }

footer ul {
  list-style-type: none;
  color: #ffffff;
  font-size: .8125rem;
  line-height: 1.375rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.social {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  max-height: 38px; }

.footer-bottom-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding-top: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: baseline;
  color: #fff; }
  .footer-bottom-container-container {
    background-color: #333645;
    color: #ffffff; }

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer; }

.footer-item {
  display: flex;
  flex-direction: column; }

.footer-item-heading {
  font-size: 1rem; }

.social-media {
  display: flex;
  flex-direction: row; }

.site-link a {
  color: #ffffff; }

#h-line {
  background-color: white;
  width: auto; }

#newsletter {
  background-color: #ddd; }

.sign-up-container {
  padding: 50px;
  margin: 0 auto; }

.required, .privacy-policy {
  color: #333645;
  font-weight: 600; }

.required::after {
  content: " *";
  color: #D24D57; }

.form-wrapper {
  padding: 40px 0;
  max-width: 1200px; }

.checkbox {
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer; }
  .checkbox:checked {
    background-color: #333645 !important;
    border-color: #333645 !important; }

#privacy-link {
  text-decoration: underline;
  color: #333645;
  font-weight: 600; }

.sign-up-input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 450px;
  margin-right: 15px; }

.form-control {
  min-height: 3rem; }

.button {
  color: #ffffff;
  text-align: center;
  padding: .625em 1.25em;
  border-radius: .35em;
  border: none; }
  .button:hover {
    text-decoration: none; }

#signup-button {
  color: #fff;
  text-align: center;
  padding: .625em 1.25em;
  background: #333645;
  border-radius: .35em;
  text-transform: uppercase;
  text-decoration: none; }

.nb1 {
  color: #fff;
  text-align: center;
  padding: .625em 1.25em;
  background: #2ECC71;
  border-radius: .35em;
  border: #2ECC71; }

.nb2, .nb3 {
  color: #fff;
  text-align: center;
  padding: .625em 1.25em;
  background: #926FB1;
  border-radius: .35em;
  border: #2ECC71; }

.welcome-button {
  color: #fff;
  background-color: #272936;
  border-radius: .35em;
  text-align: center;
  padding: .625em 1.25em;
  margin-bottom: 1rem;
  text-transform: uppercase; }
  .welcome-button:hover {
    background-color: #121318;
    color: white; }

.google-button {
  color: #fff;
  background-color: #4387F6;
  border-radius: .35em;
  text-align: center;
  padding: .625em 1.25em;
  margin-top: 20px; }
  .google-button:hover {
    background-color: #1268f4;
    color: white; }

.tpilot-button {
  color: #fff;
  background-color: #00B67B;
  border-radius: .35em;
  text-align: center;
  padding: .625em 1.25em;
  margin-top: 20px; }
  .tpilot-button:hover {
    background-color: #008359;
    color: white; }

.centre-button {
  display: grid;
  margin: left;
  margin-bottom: 5rem;
  max-width: 40%; }

.banner-button {
  color: #fff;
  line-height: 50px;
  background: #D64541;
  border-radius: .35em;
  text-align: center;
  padding: 5px 20px;
  margin-top: 1.938rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border: 1px solid transparent; }
  .banner-button:hover {
    color: white; }

.header-button {
  height: auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  border: none; }

.support-button {
  background-color: #4183D7; }

.contact-button {
  background-color: #999AA2; }

.client-logo-area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 47px 0 43px; }

.logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px; }

.client-item {
  padding: 0px 20px; }

.client-item img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 100%;
  height: auto; }
  .client-item img:hover {
    -webkit-filter: grayscale(0);
    filter: none; }

.news-container {
  margin: 0 auto;
  padding: 47px 0 43px;
  max-width: 1200px;
  background-color: #666; }

.inside-news-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.ni, .ni2, .ni3 {
  width: calc(100/3); }

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 15px; }

.news-item {
  background-color: white;
  background: #fff;
  margin: 0 .5em .8em;
  margin-top: 15px;
  border: 1px solid #999aa2;
  position: relative;
  top: 0;
  transition: .5s ease; }
  .news-item:hover {
    top: -10px;
    transition: .5s ease !important; }

.news-item p {
  line-height: 1.375rem;
  font-size: .8125rem;
  color: #666; }

.nh1 {
  color: #2ECC71;
  margin-top: 1rem; }

.nh2, .nh3 {
  color: #926FB1;
  margin-top: 1rem; }

.news-image {
  width: 100%;
  height: 250px; }

.news-text {
  padding-left: 15px;
  padding-right: 15px; }
  .news-text-wrapper {
    text-decoration: none !important; }

.seperating-bar {
  padding-top: 50px; }

.headings-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px; }

hr {
  margin-top: 5rem;
  color: grey; }

.posted-text {
  font-weight: 600;
  color: #333645; }

.posted-image {
  position: relative;
  float: left;
  margin-right: 1rem; }

#bar-heading {
  font-weight: 600;
  color: #333645;
  font-size: 2rem; }

#bar-heading-link {
  font-weight: 600;
  color: #333645;
  font-size: 1.5rem;
  text-decoration-color: #333645; }

.welcome-container {
  background-color: #333645;
  padding-top: 50px;
  padding-bottom: 50px; }

.inside-welcome-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.welcome-heading {
  color: white;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px; }

.welcome-text {
  color: white;
  margin-bottom: 25px; }

.quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic; }

.client-details {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem; }

.welcome-text-col1 {
  color: white;
  line-height: 1.875rem; }

.welcome-1 {
  font-weight: 600; }

.fa-star {
  color: orange;
  margin-bottom: 25px;
  font-size: 50px; }

.icon {
  margin-bottom: 20px;
  line-height: unset;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  align-items: center;
  color: #fff; }

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

.our-services-container {
  padding-top: 50px;
  padding-bottom: 50px; }

.service-btn-container {
  display: flex;
  justify-content: center;
  padding: 2rem; }

.service-item {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
  background-color: white;
  background: #fff;
  margin: 0 .5em .8em;
  margin-top: 15px;
  border: 1px solid #999aa2;
  text-decoration: none;
  border-radius: 15px;
  top: 0;
  transition: .5s ease; }
  .service-item:hover {
    top: -10px;
    transition: .5s ease !important;
    cursor: pointer; }
    .service-item:hover .service-block {
      color: #fff; }

.service-block {
  color: #333645;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; }

a.block {
  text-decoration: none; }

.service-block h3 {
  font-weight: 600; }

.accreditations-container {
  padding-top: 20px;
  padding-bottom: 50px; }

.banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  height: 600px; }

.img-cover {
  object-fit: scale-down;
  background-image: linear-gradient(to right, black, transparent), url("../img/home-J8Xx.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%; }

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 140px;
  z-index: 4;
  color: white;
  margin-left: 5rem; }

.banner-headline {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 600; }

.banner-text {
  font-size: 1.625rem;
  line-height: 2.5rem;
  margin-bottom: em(20px); }

.navigation {
  background-color: #333645; }

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0 18px; }

.nav-text-1, .nav-text-2 {
  color: white; }

.nav-text-1 {
  font-size: .625rem;
  padding-bottom: 1px; }

.navigation-icon:hover {
  background-color: #333645; }

.navigation-wrapper a {
  text-decoration: none;
  font-size: 1.125rem; }

@media only screen and (min-width: 576px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; } }
@media only screen and (min-width: 705px) {
  .fi1,
  .fi2 {
    width: 34%; }

  .fi3,
  .fi4,
  .fi5 {
    width: 33%; }

  .main-footer {
    justify-content: space-evenly; } }
@media only screen and (min-width: 1259px) {
  .footer-item {
    display: flex;
    flex-wrap: wrap;
    width: auto; } }
@media only screen and (min-width: 1000px) {
  .sign-up-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 47px 0 43px; }

  .form-wrapper {
    display: flex;
    flex-direction: row; }

  .user_name,
  .user-email {
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 1259px) {
  .logo-list {
    height: auto;
    width: 100%;
    padding: 0; } }
@media only screen and (max-width: 767px) {
  .client-logo-area, #bar-heading-link {
    display: none; }

  .license {
    display: flex;
    flex-direction: column; } }
@media only screen and (max-width: 1200px) {
  .ni3 {
    display: none !important; }

  .ni1,
  .ni2 {
    width: calc(100/2); } }
@media only screen and (max-width: 767px) {
  .inside-news-container {
    display: flex;
    flex-wrap: wrap; }

  .news-image {
    max-width: 100%; }

  .ni3 {
    display: unset !important; } }
@media only screen and (min-width: 767px) {
  .si-1 {
    grid-area: service-1; }

  .si-2 {
    grid-area: service-2; }

  .si-3 {
    grid-area: service-3; }

  .si-4 {
    grid-area: service-4; }

  .si-5 {
    grid-area: service-5; }

  .si-6 {
    grid-area: service-6; }

  .si-7 {
    grid-area: service-7; }

  .auto-grid {
    display: grid;
    grid-template-areas: "service-1 service-1" "service-2 service-2" "service-3 service-3" "service-4 service-5" "service-6 service-7"; } }
@media only screen and (min-width: 992px) {
  .auto-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }

  .si-1,
  .si-2,
  .si-3 {
    flex: 1 1 333px; }

  .si-4,
  .si-5,
  .si-6,
  .si-7 {
    flex: 1 1 250px; }

  .col {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (max-width: 993px) {
  .banner-content {
    margin-left: 0 !important;
    align-items: center;
    text-align: center; }

  .banner-content .banner-headline {
    font-size: 2.5rem;
    line-height: 3rem; }

  .banner-content .banner-text {
    font-size: 1.25rem;
    line-height: 1.75rem; }

  .navigation {
    display: none; }

  .actions-container {
    display: none; } }
.header {
  padding-top: 20px;
  padding-bottom: 18px;
  height: 170px;
  background-color: white; }
  @media (min-width: 767px) {
    .header {
      height: 110px; } }
  .header-logo {
    margin-right: auto;
    align-self: center; }
  .header-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 35px; }
    .header-phone:hover {
      border-bottom: 1px solid #333645;
      height: 41px; }
    .header-phone > i {
      color: #333645;
      font-size: 25px; }
    @media (min-width: 767px) {
      .header-phone {
        display: none; } }
  .header-contact-btn, .header-support-btn {
    display: none;
    height: 57px;
    width: 130px;
    margin-top: 7px;
    margin-left: 18px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase; }
    @media (min-width: 991px) {
      .header-contact-btn, .header-support-btn {
        display: block; } }
    .header-contact-btn > i, .header-support-btn > i {
      color: white;
      font-size: 20px;
      margin-right: 5px;
      transform: translateY(2px); }
  .header-contact-btn {
    background-color: #999AA2; }
    .header-contact-btn:hover {
      background-color: #7e808a; }
  .header-support-btn {
    background-color: #4183D7; }
    .header-support-btn:hover {
      background-color: #286abd; }

.top-row {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .top-row > a > img {
    max-width: 100%; }
    @media (min-width: 767px) {
      .top-row > a > img {
        max-height: 60.2px; } }
    @media (min-width: 991px) {
      .top-row > a > img {
        max-height: 65px; } }

.bottom-row {
  position: relative; }
  .bottom-row > a {
    color: #333645; }
    @media (min-width: 767px) {
      .bottom-row > a {
        display: none; } }
    .bottom-row > a > i {
      position: absolute;
      right: 0;
      transform: translate(-10px, 13px);
      font-size: 20px; }

.header-search {
  display: none;
  width: 198px;
  height: 56px;
  padding: 5px 15px;
  margin-top: 7px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 14px; }
  .header-search:focus {
    outline: 0;
    border-color: #5bc0de;
    box-shadow: 0 0 8px rgba(91, 192, 222, 0.6); }
  @media (min-width: 767px) {
    .header-search {
      display: block;
      margin-left: 50px; } }
  @media (min-width: 991px) {
    .header-search {
      display: none; } }
  @media (min-width: 1259px) {
    .header-search {
      display: block;
      margin-left: 25px;
      width: 275px; } }
  .header-search-btn {
    display: none;
    height: 56px;
    width: 63px;
    margin-top: 7px;
    border: none;
    background-color: #999AA2;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 5px;
    cursor: pointer; }
    @media (min-width: 767px) {
      .header-search-btn {
        display: block; } }
    @media (min-width: 991px) {
      .header-search-btn {
        border-radius: 3px;
        margin-left: 20px; } }
    @media (min-width: 1259px) {
      .header-search-btn {
        margin-left: 0;
        border-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px; } }
    .header-search-btn:hover {
      background-color: #7e808a; }
    .header-search-btn > i {
      color: white;
      font-size: 23px; }

.mobile-search {
  width: 100%;
  height: 53px;
  background-color: #e5e5e5;
  padding: 5px 40px 5px 15px;
  border: 2px solid #ccc;
  color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 1.42857143; }
  .mobile-search:focus {
    outline: 0; }
  @media (min-width: 767px) {
    .mobile-search {
      display: none; } }

.hamburger-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 63px;
  background-color: #333645;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 7px;
  margin-left: 20px;
  margin-bottom: 15px; }
  .hamburger-box:hover {
    background-color: #1d1f28; }
  .hamburger-box > a > i {
    color: white; }

/*# sourceMappingURL=style.css.map */
