.item-1 a {
  background-color: #67809F; }
.item-1:hover {
  background-color: #67809F;
  color: #fff; }
  .item-1:hover h2 {
    color: #fff; }
  .item-1:hover a {
    color: #67809F;
    background-color: #fff; }
  .item-1:hover i {
    color: #67809F;
    background-color: #fff; }

.icon-1 {
  background-color: #67809F; }

.nav-item-1 i {
  color: #67809F; }
.nav-item-1:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-1:hover i {
    color: #fff; }

.item-2 a {
  background-color: #4183D7; }
.item-2:hover {
  background-color: #4183D7;
  color: #fff; }
  .item-2:hover h2 {
    color: #fff; }
  .item-2:hover a {
    color: #4183D7;
    background-color: #fff; }
  .item-2:hover i {
    color: #4183D7;
    background-color: #fff; }

.icon-2 {
  background-color: #4183D7; }

.nav-item-2 i {
  color: #4183D7; }
.nav-item-2:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-2:hover i {
    color: #fff; }

.item-3 a {
  background-color: #2ECC71; }
.item-3:hover {
  background-color: #2ECC71;
  color: #fff; }
  .item-3:hover h2 {
    color: #fff; }
  .item-3:hover a {
    color: #2ECC71;
    background-color: #fff; }
  .item-3:hover i {
    color: #2ECC71;
    background-color: #fff; }

.icon-3 {
  background-color: #2ECC71; }

.nav-item-3 i {
  color: #2ECC71; }
.nav-item-3:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-3:hover i {
    color: #fff; }

.item-4 a {
  background-color: #D64541; }
.item-4:hover {
  background-color: #D64541;
  color: #fff; }
  .item-4:hover h2 {
    color: #fff; }
  .item-4:hover a {
    color: #D64541;
    background-color: #fff; }
  .item-4:hover i {
    color: #D64541;
    background-color: #fff; }

.icon-4 {
  background-color: #D64541; }

.nav-item-4 i {
  color: #D64541; }
.nav-item-4:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-4:hover i {
    color: #fff; }

.item-5 a {
  background-color: #926FB1; }
.item-5:hover {
  background-color: #926FB1;
  color: #fff; }
  .item-5:hover h2 {
    color: #fff; }
  .item-5:hover a {
    color: #926FB1;
    background-color: #fff; }
  .item-5:hover i {
    color: #926FB1;
    background-color: #fff; }

.icon-5 {
  background-color: #926FB1; }

.nav-item-5 i {
  color: #926FB1; }
.nav-item-5:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-5:hover i {
    color: #fff; }

.item-6 a {
  background-color: #F62459; }
.item-6:hover {
  background-color: #F62459;
  color: #fff; }
  .item-6:hover h2 {
    color: #fff; }
  .item-6:hover a {
    color: #F62459;
    background-color: #fff; }
  .item-6:hover i {
    color: #F62459;
    background-color: #fff; }

.icon-6 {
  background-color: #F62459; }

.nav-item-6 i {
  color: #F62459; }
.nav-item-6:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-6:hover i {
    color: #fff; }

.item-7 a {
  background-color: #CE4125; }
.item-7:hover {
  background-color: #CE4125;
  color: #fff; }
  .item-7:hover h2 {
    color: #fff; }
  .item-7:hover a {
    color: #CE4125;
    background-color: #fff; }
  .item-7:hover i {
    color: #CE4125;
    background-color: #fff; }

.icon-7 {
  background-color: #CE4125; }

.nav-item-7 i {
  color: #CE4125; }
.nav-item-7:hover {
  background-color: #ffffff;
  text-decoration: none; }
  .nav-item-7:hover i {
    color: #fff; }

footer {
  background-color: #333645; }

.main-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 47px 0 43px; }

footer ul {
  list-style-type: none;
  color: #ffffff;
  font-size: .8125rem;
  line-height: 1.375rem; }

.social {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  max-height: 38px; }

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding-top: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: baseline;
  color: #fff; }

.footer-bottom-container {
  background-color: #333645;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-item {
  display: flex;
  flex-direction: column; }

.footer-item-heading {
  font-size: 1rem; }

.social-media {
  display: flex;
  flex-direction: row; }

.site-link a {
  color: #ffffff; }

#h-line {
  background-color: white; }

@media only screen and (min-width: 576px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }

  .footer-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media only screen and (min-width: 480px) {
  .footer-item {
    width: 50%; } }
@media only screen and (min-width: 705px) {
  .fi1,
  .fi2 {
    width: 34%; }

  .fi3,
  .fi4,
  .fi5 {
    width: 33%; }

  .main-footer {
    justify-content: space-evenly; } }
@media only screen and (min-width: 1260px) {
  .footer-item {
    display: flex;
    flex-wrap: wrap;
    width: auto; } }
@media only screen and (min-width: 1000px) {
  .sign-up-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 47px 0 43px; }

  .form-wrapper {
    display: flex;
    flex-direction: row; }

  .user_name,
  .user-email {
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 1259px) {
  .logo-list {
    height: auto;
    width: 100%;
    padding: 0; } }
@media only screen and (max-width: 767px) {
  .client-logo-area {
    display: none; } }
body {
  font-family: Poppins, sans-serif; }

* {
  box-sizing: border-box; }

html {
  line-height: 1.1; }

#newsletter {
  background-color: #ddd; }

.sign-up-container {
  padding: 50px;
  margin: 0 auto; }

.required, .privacy-policy {
  color: #333645;
  font-weight: 600; }

.required::after {
  content: " *";
  color: #D24D57; }

.form-wrapper {
  padding: 50px 0;
  max-width: 1200px; }

.checkbox {
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer; }
  .checkbox:checked {
    background-color: #333645 !important;
    border-color: #333645 !important; }

#privacy-link {
  text-decoration: underline;
  color: #333645;
  font-weight: 600; }

.sign-up-input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 450px;
  margin-right: 15px; }

.signup-button {
  color: #fff;
  text-align: center;
  padding: .625em 1.25em;
  background: #333645;
  border-radius: .35em; }

.client-logo-area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 47px 0 43px; }

.logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px; }
  .logo-list .client-item {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
    .logo-list .client-item:hover {
      -webkit-filter: grayscale(0);
      filter: none; }

/*# sourceMappingURL=style.css.map */
