@import 'variables';

@each $name,
$color in $colors {
    $i: index($colors, $name $color);

    .item-#{$i} {
        a {
            background-color: $color;
        }

        &:hover {
            background-color: $color;
            color: #fff;

            h2 {
                color: #fff;
            }

            a {
                color: $color;
                background-color: #fff;
            }

            i {
                color: $color;
                background-color: #fff;
            }
        }
    }

    .nav_item_#{$i} {
        i {
            color: $color;
        }

        &:hover {
            background-color: $bk-white;
            text-decoration: none;

            i {
                color: #fff;
            }
        }
    }
}

//changes the button color on hover
@each $name,
$color in $colors {
    $i: index($colors, $name $color);

    .button-#{$i} {
        background-color: $color;
        text-decoration: none;

        &:hover {
            background-color: #fff;
            color: $color;
        }
    }
}

//changes the service item background color on hover
@each $name,
$color in $colors {
    $i: index($colors, $name $color);

    .si-#{$i} {

        &:hover {
            background-color: $color;

            .button-#{$i} {
                background-color: white;
                color: $color;

            }

            .icon-#{$i} {
                color: $color;
                background-color: $bk-white;

            }
        }
    }
}

//sets the color for the icons
@each $name,
$color in $colors {
    $i: index($colors, $name $color);

    .icon-#{$i} {
        background-color: $color;

        &:hover {
            background-color: white;
            color: $color;
        }
    }
}

@each $name,
$color in $colors {
    $i: index($colors, $name $color);

    .nav-item-#{$i} {
        color: $color;
    }
}

@each $name,
$color in $banner-colors {
    $i: index($banner-colors, $name $color);

    .ban-color-#{$i} {
        background-color: $color;

    }
}

@each $name,
$color in $banner-colors {
    $i: index($banner-colors, $name $color);

    .nav-color-#{$i} {
        background-color: none;

        &:hover {
            background-color: lighten($color, 10%);
        }
    }
}