@import'variables';

//footer Media Queries 
@media only screen and (min-width:$break-xs) {
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-bottom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (min-width:480px) {

    .footer-item {
        width: 50%;
    }
}

@media only screen and (min-width:705px) {

    .fi1,
    .fi2 {
        width: 34%;
    }

    .fi3,
    .fi4,
    .fi5 {
        width: 33%;
        // max-width: 225px;
    }

    .main-footer {
        justify-content: space-evenly;
    }
}

@media only screen and (min-width:$break-l) {
    .footer-item {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
}

//sign up to newsletter Media Queries
@media only screen and (min-width:1000px) {
    .sign-up-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 47px 0 43px;
    }

    .form-wrapper {
        display: flex;
        flex-direction: row;
    }

    .user_name,
    .user-email {
        display: flex;
        justify-content: space-between;


    }
}

// media query for client logos
@media only screen and (min-width:1259px) {
    .logo-list {
        height: auto;
        width: 100%;
        padding: 0;
    }
}

//media query to hide the client logo-list
@media only screen and (max-width:767px) {
    .client-logo-area {
        display: none;
    }
}

//media query to hide the third news item on screen size reduction
@media only screen and (max-width:1200px) {
    .ni3 {
        display: none !important;
    }

    .ni1,
    .ni2 {
        width: calc(100/2);
    }
}

//media query which displays the news items in one column
@media only screen and (max-width:767px) {
    .inside-news-container {
        display: flex;
        flex-wrap: wrap;
    }

    .news-image {
        max-width: 100%;
    }

    .ni3 {
        display: unset !important;
    }
}

//media query which places the first three services as full width and places the remaining four into two rows of two
@media only screen and (min-width:767px) {
    .si-1 {
        grid-area: service-1;
    }

    .si-2 {
        grid-area: service-2;
    }

    .si-3 {
        grid-area: service-3;
    }

    .si-4 {
        grid-area: service-4;
    }

    .si-5 {
        grid-area: service-5;
    }

    .si-6 {
        grid-area: service-6;
    }

    .si-7 {
        grid-area: service-7;
    }

    .auto-grid {
        display: grid;
        grid-template-areas:
            "service-1 service-1"
            "service-2 service-2"
            "service-3 service-3"
            "service-4 service-5"
            "service-6 service-7";
    }


}

//media query which flexes the services into a row of three followed by a row of four
@media only screen and (min-width:992px) {

    .auto-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .si-1,
    .si-2,
    .si-3 {
        flex: 1 1 333px;

    }

    .si-4,
    .si-5,
    .si-6,
    .si-7 {
        flex: 1 1 250px;
    }
}

//media query to reduce the banner content size, align center and remove the margin from the container
@media only screen and (max-width:993px) {
    .banner-content {
        margin-left: 0 !important;
        align-items: center;
        text-align: center;
    }

    .banner-content .banner-headline {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .banner-content .banner-text {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}