@import'functions';
@import'media-queries';
@import'layout/base';

@import'components/footer';
@import'components/form';
@import'components/buttons';
@import'components/clients';
@import'components/news';

