.col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: auto;
}

.col-3 {
    position: relative;
    min-height: 1px;
    padding-left: -15px;
    padding-right: -15px;
}

.col-4 {
    width: calc(100/4);
    border: solid 1px $bk-grey-four;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.logo-col{
    width: 33.33%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.actions-col{
    width: 45%; 
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}