.banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: 600px
}

.img-cover {

    object-fit: scale-down;
    background-image: linear-gradient(to right, black, transparent), url("../img/home-J8Xx.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 140px;
    z-index: 4;
    color: white;
    position :relative;
}

.banner-headline {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 600;
    

}

.banner-text {
    font-size: 1.625rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
    
}