.signup-button{
    color:  #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #333645;
	border-radius: .35em;
}

.nb1{
    color:  #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: $bk-green;
	border-radius: .35em;
	border: $bk-green;
}

.nb2, .nb3{
    color:  #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: $bk-purple;
	border-radius: .35em;
	border: $bk-green;
}