.button {
	color: $bk-white;
	text-align: center;
	padding: .625em 1.25em;
	border-radius: .35em;
    &:hover{
    text-decoration: none;
    }
}

.signup-button{
    color:  #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #333645;
	border-radius: .35em;
}

.nb1{
    color:  #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: $bk-green;
	border-radius: .35em;
	border: $bk-green;
}

.nb2, .nb3{
    color:  #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: $bk-purple;
	border-radius: .35em;
	border: $bk-green;
}

.welcome-button{
	color: #fff;
    background-color: #272936;
	border-radius: .35em;
	text-align: center;
	padding: .625em 1.25em;
	margin-bottom:1rem;
}

.google-button{
	color: #fff;
    background-color: $bk-blue;
	border-radius: .35em;
	text-align: center;
	padding: .625em 1.25em;
	margin-top: 20px;
}

.tpilot-button{
	color: #fff;
    background-color: $bk-green-two;
	border-radius: .35em;
	text-align: center;
	padding: .625em 1.25em;
	margin-top: 20px;
}

.centre-button{
    display:grid;
    margin:left;
    margin-bottom:5rem;
    max-width: 40%; 
}
