@import'variables';

footer{
    background-color: $bk-grey-four;
}
.main-footer {
    max-width: 1200px;
    margin:0 auto;
    padding: 47px 0 43px;
    // display:flex;
    // flex-direction: row;
}

footer ul {
    list-style-type: none;
    color: $bk-white;
    font-size: .8125rem;
    line-height: 1.375rem;
}

.social {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px 10px;
    max-height: 38px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    padding-top: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: baseline;
    color: #fff;
}

.footer-bottom-container {
    background-color: $bk-grey-four;
    color: $bk-white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item-heading{
    font-size: 1rem;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.site-link a {
    color: $bk-white;
}
#h-line {
    background-color:white;
}