.fa-star {
    color: orange; 
    margin-bottom: 25px; 
    font-size: 50px;
}

.icon {
    margin-bottom: 20px;
    line-height: unset;
    display:flex;
    justify-content: center;
    font-size: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    align-items: center;
    color: #fff;
}

.icon-wrapper{
    display:flex;
    justify-content: center;
    margin-top:1rem;
}