.navigation {
    background-color: $bk-grey-four;
    position:relative;
}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // position: relative;

}

.sub-banner {
    display: none;
}

.navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 0 18px;


}

.nav-item {
    &:hover {
        .sub-banner {
            display: block;
            position: absolute;
            z-index: 2;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 10;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.nav-text-1,
.nav-text-2 {
    color: white;
}

.nav-text-1 {
    font-size: .625rem;
    padding-bottom: 1px;
}

.navigation-icon {

    &:hover {
        background-color: $bk-grey-four;
    }
}

.navigation-wrapper a {
    text-decoration: none;
    font-size: 1.125rem;
}

.sub-banner {
    margin: 0;
    position: absolute;
    left: 0;
    background-color: grey;
    z-index: 5;
    width:100vw;
    margin:auto;
}

.sub-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -15px;
    list-style: none;
    text-align: left;
    padding: 0;

}


.sub-items {
    width: 33%;
    margin-top: 15px;
}

.sub-banner-title {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 500;
}