.navigation {
    background-color: $bk-grey-four;
    position: relative;
    z-index: 19;
}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.sub-banner {
    display: none;
}

.navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 0 18px;
    background-color: none;
    width: 10rem;

}

.nav-item {
    &:hover {
        .sub-banner {
            display: block;
            position: absolute;
            z-index: 2;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 10;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .fa-th,
        .fa-solid,
        .fas {
            color: white;
        }

        .arrow-down {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;

            border-top: 20px solid #f00;
        }
    }
}

.nav-text-1,
.nav-text-2 {
    color: white;
}

.nav-text-1 {
    font-size: .625rem;
    padding-bottom: 1px;
}

.nav-text-2 {
    margin-bottom: -1px;
}


.navigation-wrapper a {
    text-decoration: none;
    font-size: 1.125rem;
}

.sub-banner {
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 5;
    width: 100vw;
    margin: auto;
}

.sub-menu-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -15px;
    list-style: none;
    text-align: left;
    padding: 0;

}


.sub-items {
    width: 33%;
    margin-top: 15px;
    color: white;

}

.sub-item-link {
    text-decoration: none;
    color: white;
}

.sub-banner-title {
    color: white;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 500;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}