.news-container{
    margin:0 auto;
    padding: 47px 0 43px;
    max-width: 1200px;
    background-color: #666;

}
.inside-news-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.ni1{
    width: calc(100/3);

}
.ni2, .ni3 {
    width: calc(100/3);
}

h3 {
    // padding-top: -20px;
    font-size:1rem;
    line-height: 1.5rem;
    margin: 0 0 15px;
}

.news-item{
        // width: 80%;
        background-color: white;
        background: #fff;
        margin: 0 .5em .8em;
        margin-top:15px;
        border: 1px solid #999aa2;
        position: relative;
        top: 0;
        transition: .5s ease;
        &:hover {
            top: -10px;
            transition: .5s ease !important;
    
    }
}

.news-item p{
    line-height: 1.375rem;
    font-size: .8125rem;
    color: #666;
}
.nh1{
    color:$bk-green;
}
.nh2, .nh3{
    color:$bk-purple;
}

.news-image{
    width: 100%;
    height:200px;
}

.news-text{
    padding-left: 15px;
    padding-right: 15px;
}

.seperating-bar{
    padding-top: 50px;
}

.headings-container{
    display:flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;


}

hr {
    margin-top:5rem;
    color:grey;
}

.posted-text{
    font-weight: 600;
    color: #333645;
}

.posted-image{
    position:relative;
    float:left;
    margin-right:1rem;
}

#bar-heading{
    font-weight: 600;
    color: $bk-grey-four;
    font-size: 2rem;
}


#bar-heading-link{
    font-weight: 600;
    color: $bk-grey-four;
    font-size: 1.5rem;
    text-decoration-color: $bk-grey-four;
}