.our-services-container {
    padding-top: 50px;
    padding-bottom: 50px;

}

.service-btn-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    width: auto;
    position: relative;
    background-color: white;
    background: #fff;
    margin: 0 .5em .8em;
    border: 1px solid #CCC;
    box-shadow: 0 3px 35px $bk-grey-four(0 0 0 / 10%);
    text-decoration: none;
    border-radius: 15px;
    top: 0;
    transition: .5s ease;

    &:hover {
        top: -10px;
        transition: .5s ease !important;
        cursor: pointer;

        .service-block {
            color: #fff;
        }
    }
}

.service-block {
    color: #333645;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.service-block p {
    padding: 5px 5px 0px 5px;
    margin-bottom: 0;
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-weight: 400;
}

.button-2{
    height:44px;
}

a.block {
    text-decoration: none;
}

.service-block h3 {
    font-weight: 600;
}

.services-title {
    font-weight: 600;
    font-size: 2.7rem;
}

.services-view {
    font-weight: 600;
    font-size: 1.625rem;
    color: $bk-grey-four;
}