.our-services-container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;

}

.service-btn-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    width: auto;
    position: relative;
    background-color: white;
    background: #fff;
    margin: 0 .5em .8em;
    margin-top: 15px;
    border: 1px solid #999aa2;
    text-decoration: none;
    border-radius: 15px;
    top: 0;
    transition: .5s ease;

    &:hover {
        top: -10px;
        transition: .5s ease !important;
        cursor: pointer;

        .service-block {
            color: #fff;
        }
    }
}

.service-block {
    color: #333645;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

a.block {
    text-decoration: none;
}

.service-block h3 {
    font-weight: 600;
}