.column-wrapper {}

.sidebar {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: $bk-grey-four;
    overflow-y: scroll;
    transition: 0.5s;
    text-align: left;
}

.sidebar-full {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: $bk-grey-four;
    overflow-y: scroll;
    transition: 0.5s;
    // text-align: center;

}

.sub-menu {
    margin-top: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sub-menu ul li {
    list-style: none;
    text-transform: capitalize;
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid hsla(0, 0%, 100%, .05);


}

.sub-menu-2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.sub-menu-2 ul li {
    list-style: none;
    text-transform: capitalize;
    display: block;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid hsla(0, 0%, 100%, .05);

    &:hover {
        cursor: pointer;
    }
}

.fa-angle-double-right {
    font-size: .5rem;
}

#subm-1 {
    &:hover {
        cursor: pointer;

        #subt-1 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}

#subm-2 {
    &:hover {
        cursor: pointer;

        #subt-2 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}

#subm-2a {
    &:hover {
        cursor: pointer;

        #subt-2a {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}

#subm-3 {
    &:hover {
        cursor: pointer;

        #subt-3 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
#subm-4 {
    &:hover {
        cursor: pointer;

        #subt-4 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
#subm-5 {
    &:hover {
        cursor: pointer;

        #subt-5 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
#subm-6 {
    &:hover {
        cursor: pointer;

        #subt-6 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}

.sub-menu ul {
    padding-left: 0;
}

.sub-menu-2 ul {
    padding-left: 0;
    margin-bottom: 0;
}


.sidebar-inner {
    padding: 21px;
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
    outline: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid hsla(0, 0%, 100%, .1);
    padding: 19px 0 18px;
    margin-bottom: 2rem;

    &:hover {
        background-color: hsla(0, 0%, 100%, .05);
        color: #fff !important;
    }
}

.sidebar-title-2 {
    display: flex;
    flex-direction: column;

    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
    outline: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid hsla(0, 0%, 100%, .1);
    padding: 19px 0 18px;
    ;

    &:hover {
        background-color: hsla(0, 0%, 100%, .05);
        color: #fff !important;
    }
}

.sidebar-title-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
    outline: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid hsla(0, 0%, 100%, .1);
    padding: 19px 0 18px;
    margin-bottom: 1rem;

    &:hover {
        background-color: hsla(0, 0%, 100%, .05);
        color: #fff;
    }
}

.sideft-1 {
    &:hover {
        cursor: pointer;

        .sidef-1 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
.sideft-2 {
    &:hover {
        cursor: pointer;

        .sidef-2 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
.sideft-3 {
    &:hover {
        cursor: pointer;

        .sidef-3 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
.sideft-4 {
    &:hover {
        cursor: pointer;

        .sidef-4 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
.sideft-5 {
    &:hover {
        cursor: pointer;

        .sidef-5 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
.sideft-6 {
    &:hover {
        cursor: pointer;

        .sidef-6 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
.sideft-7 {
    &:hover {
        cursor: pointer;

        .sidef-7 {
            background-color: lighten($bk-grey-four, 10%);
        }
    }
}
