.client-logo-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 47px 0 43px;
}

.logo-list {
    display: flex;
    flex-direction: row;
    // flex-wrap:wrap;
    justify-content: space-between;
    padding: 0 100px;
}


.client-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

    &:hover {
        .box-wrapper {
            display: flex;
        }
    }
}

.client-item img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    &:hover {
        -webkit-filter: grayscale(0);
        filter: none;
    }

    width:100%;
    height: auto;
}

// .box {
//     width: 150px;
//     height: 75px;
//     background-color: black;
//     color: #fff;
//     padding: 20px;
//     position: relative;
//     margin: 40px;
//     float: left;
// }



// .box.arrow-down:after {
//     content: " ";
//     display: inline-block;
//     position: absolute;
//     bottom: 10px;
//     left: 50%;
//     margin-left: -36px;
//     border-top: 15px solid black;
//     border-right: 15px solid transparent;
//     border-left: 15px solid transparent;
//     border-bottom: none;
//     background-color: red;
// }

.box {
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    width: 200px;
    height: 150px;
    background-color: $bk-grey-four;
}

.inner-box {
    position: absolute;
    bottom: -10px;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $bk-grey-four;
    transform: rotate(45deg);
}

.box-wrapper {
    display: none;
    top: -180px;
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.client-text{
    padding:1rem;
    color:white;
    z-index:5;
    text-align: center;
}
.client-text p{
    font-size: .8125rem;
    line-height: 1.375rem;
}
