.header-container-wrapper {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo-container {
    float: left;
}

.nm-logo {
    max-width: 100%;
}

.main-form {
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    transition: none;
    width: 100%;
    padding-right: 40px;
    line-height: 46px;
    padding: 5px 20px;
}

.fa-paper-plane,
.fa-computer-mouse {
    padding: 4px;
}

.hamburger {
    color: #fff;
    background-color: #333645;
    border-color: #333645;
    font-size:25px;
    padding: 11px; 
    float: left;
}

.hamburger-inner{
    background-color: #fff;
}

.hamburger-box{
    align-self: center;
}