@media only screen and (min-width: 576px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; } }
@media only screen and (min-width: 705px) {
  .fi1,
  .fi2 {
    width: 34%; }

  .fi3,
  .fi4,
  .fi5 {
    width: 33%; }

  .main-footer {
    justify-content: space-evenly; } }
@media only screen and (min-width: 1259px) {
  .footer-item {
    display: flex;
    flex-wrap: wrap;
    width: auto; } }
@media only screen and (min-width: 1000px) {
  .sign-up-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 47px 0 43px; }

  .form-wrapper {
    display: flex;
    flex-direction: row; }

  .user_name,
  .user-email {
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 1259px) {
  .logo-list {
    height: auto;
    width: 100%;
    padding: 0; } }
@media only screen and (max-width: 767px) {
  .client-logo-area,
  #bar-heading-link {
    display: none; }

  .license {
    display: flex;
    flex-direction: column; } }
@media only screen and (max-width: 1200px) {
  .ni3 {
    display: none !important; }

  .ni1,
  .ni2 {
    width: calc(100/2); } }
@media only screen and (max-width: 767px) {
  .inside-news-container {
    display: flex;
    flex-wrap: wrap; }

  .news-image {
    max-width: 100%; }

  .ni3 {
    display: unset !important; } }
@media only screen and (min-width: 767px) {
  .si-1 {
    grid-area: service-1; }

  .si-2 {
    grid-area: service-2; }

  .si-3 {
    grid-area: service-3; }

  .si-4 {
    grid-area: service-4; }

  .si-5 {
    grid-area: service-5; }

  .si-6 {
    grid-area: service-6; }

  .si-7 {
    grid-area: service-7; }

  .auto-grid {
    display: grid;
    grid-template-areas: "service-1 service-1" "service-2 service-2" "service-3 service-3" "service-4 service-5" "service-6 service-7"; } }
@media only screen and (min-width: 992px) {
  .auto-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }

  .si-1,
  .si-2,
  .si-3 {
    flex: 1 1 333px; }

  .si-4,
  .si-5,
  .si-6,
  .si-7 {
    flex: 1 1 250px; }

  .col {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (max-width: 993px) {
  .banner-content {
    margin-left: 0 !important;
    align-items: center;
    text-align: center; }

  .banner-content .banner-headline {
    font-size: 2.5rem;
    line-height: 3rem; }

  .banner-content .banner-text {
    font-size: 1.25rem;
    line-height: 1.75rem; }

  .navigation {
    display: none; }

  .actions-container {
    display: none; } }
.header {
  padding-top: 20px;
  padding-bottom: 18px;
  height: 170px;
  background-color: white; }
  @media (min-width: 767px) {
    .header {
      height: 110px; } }
  .header-logo {
    margin-right: auto;
    align-self: center; }
  .header-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 35px; }
    .header-phone:hover {
      border-bottom: 1px solid #333645;
      height: 41px; }
    .header-phone > i {
      color: #333645;
      font-size: 25px; }
    @media (min-width: 767px) {
      .header-phone {
        display: none; } }
  .header-contact-btn, .header-support-btn {
    display: none;
    height: 57px;
    width: 130px;
    margin-top: 7px;
    margin-left: 18px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase; }
    @media (min-width: 991px) {
      .header-contact-btn, .header-support-btn {
        display: block; } }
    .header-contact-btn > i, .header-support-btn > i {
      color: white;
      font-size: 20px;
      margin-right: 5px;
      transform: translateY(2px); }
  .header-contact-btn {
    background-color: #999AA2; }
    .header-contact-btn:hover {
      background-color: #7e808a; }
  .header-support-btn {
    background-color: #4183D7; }
    .header-support-btn:hover {
      background-color: #286abd; }

.top-row {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .top-row > a > img {
    max-width: 100%; }
    @media (min-width: 767px) {
      .top-row > a > img {
        max-height: 60.2px; } }
    @media (min-width: 991px) {
      .top-row > a > img {
        max-height: 65px; } }

.bottom-row {
  position: relative; }
  .bottom-row > a {
    color: #333645; }
    @media (min-width: 767px) {
      .bottom-row > a {
        display: none; } }
    .bottom-row > a > i {
      position: absolute;
      right: 0;
      transform: translate(-10px, 13px);
      font-size: 20px; }

.header-search {
  display: none;
  width: 198px;
  height: 56px;
  padding: 5px 15px;
  margin-top: 7px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 14px; }
  .header-search:focus {
    outline: 0;
    border-color: #5bc0de;
    box-shadow: 0 0 8px rgba(91, 192, 222, 0.6); }
  @media (min-width: 767px) {
    .header-search {
      display: block;
      margin-left: 50px; } }
  @media (min-width: 991px) {
    .header-search {
      display: none; } }
  @media (min-width: 1259px) {
    .header-search {
      display: block;
      margin-left: 25px;
      width: 275px; } }
  .header-search-btn {
    display: none;
    height: 56px;
    width: 63px;
    margin-top: 7px;
    border: none;
    background-color: #999AA2;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 5px;
    cursor: pointer; }
    @media (min-width: 767px) {
      .header-search-btn {
        display: block; } }
    @media (min-width: 991px) {
      .header-search-btn {
        border-radius: 3px;
        margin-left: 20px; } }
    @media (min-width: 1259px) {
      .header-search-btn {
        margin-left: 0;
        border-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px; } }
    .header-search-btn:hover {
      background-color: #7e808a; }
    .header-search-btn > i {
      color: white;
      font-size: 23px; }

.mobile-search {
  width: 100%;
  height: 53px;
  background-color: #e5e5e5;
  padding: 5px 40px 5px 15px;
  border: 2px solid #ccc;
  color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 1.42857143; }
  .mobile-search:focus {
    outline: 0; }
  @media (min-width: 767px) {
    .mobile-search {
      display: none; } }

.hamburger-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 63px;
  background-color: #333645;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 7px;
  margin-left: 20px;
  margin-bottom: 15px; }
  .hamburger-box:hover {
    background-color: #1d1f28; }
  .hamburger-box > a > i {
    color: white; }

/*# sourceMappingURL=header.css.map */
